@charset "utf-8";
/* CSS Document */
*{
  font-family: "Microsoft JhengHei";
  font-weight: bold;
}

.header{
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background: #eee;
}

.imgmenu{
	width:20px;
	height:20px;
}

.imglogo{
  float: left;
  margin:0 0 0 8vw;
  width: 140px;
}

/*header導覽列*/
ul li{
  list-style: none;
}
.nav-text{
  background: #eee;
  border-radius: 10px;
  margin-left: 30px;
}

/* 選單 li 之樣式 */
ul.navigation li {
  position: relative;
  float: left;
}
/* 選單 li 裡面連結之樣式 */
ul.navigation li a{
  display: block;
  font-size: 18px;
  background: #eee;
  color: #FFF;
  border-radius: 10px;
  margin-right: 50px;
  padding-top: 10px;
}
ul.navigation li a span{
  color: #000;
}
/* 特定在第一層，以左邊灰線分隔 */
/*ul.navigation > li > a{
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
}*/
ul.navigation > li > a:hover{
  color: #666;
  background: #9295c9;
}
/* 特定在第一層 > 第二層或以後下拉部分之樣式 */
ul.navigation ul{
  display: none;
  float: left;
  position: absolute;
  left: 0;
  margin: 0;
}
/* 當第一層選單被觸發時，指定第二層顯示 */
ul.navigation li:hover > ul{
  display: block;
}
/* 特定在第二層或以後下拉部分 li 之樣式 */
ul.navigation ul li {
  border-bottom: 1px solid #DDD;
}
/* 特定在第二層或以後下拉部分 li （最後一項不要底線）之樣式 */
ul.navigation ul li:last-child {
  border-bottom: none;
}
/* 第二層或以後選單 li 之樣式 */
ul.navigation ul a {
  width: 150px;
  padding: 10px 12px;
  color: #666;
  background: #9295c9;
}
ul.navigation ul a:hover {
  background: #9295c9;
}
/* 第三層之後，上一層的選單觸發則顯示出來（皆為橫向拓展） */
ul.navigation ul li:hover > ul{
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
}
/* 箭頭向下 */
.arrow-bottom {
  display: inline-block;
  margin-left: 5px;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  width: 1px;
  height: 1px;
}

/* 箭頭向右 */
.arrow-right {
  display: inline-block;
  margin-left: 12px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid #666;
  width: 1px;
  height: 1px;
}


/*search欄位*/
.btn{
  border-radius: 15px;
  background: #9295c9;
  border-style: outset;
}
.searchbox{
	padding-top:80px;
	margin:40px 50vw;
}

.menulist{
	margin: 0 auto;
	width:100%;
	background: #eee;
  border-radius: 15px;
}
.searchtd{
	height:40px;
	width:80vw;
}

.searchtxt{
	width:60%;
	height:40px;
}

.banner{
  width:100%;
  margin: 0 auto;
}
.img{
  width: 100%;
}
.bottom{
  width:90%;
  margin: 100px auto;
}
.bottom .bot1{
  padding-top: 50px;
}
.clear{
  clear: both;
}

.container-fluid2{
  height: 110px;
  background-color: #eee;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: "Microsoft JhengHei";
  line-height: 50px;
}
.container-fluid2 a{
  color: #000;
}
.footer-text{
  font-size: 14px;
  color: #000;
}
